{% extends "base.html" %} {% block head %}
<link
  rel="stylesheet"
  href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
  integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
  crossorigin=""
/>
<script
  src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin=""
></script>
{% endblock %} {% block body %}

<div id="mapid" class="map"></div>

<div id="dist" class="cfg-table">
  You travelled a total distance of
  <span class="disttext">[[ distance1 ]] [[ unit1 ]]</span> or
  <span class="disttext">[[ Math.floor(distance1)]] [[ unit1 ]] and [[ distance2 ]] [[ unit2 ]]</span>
</div>

<div id="raw_data" class="cfg-table">
  <h1>Raw tracking data</h1>
  <div v-for="i in arr_">
    [[i]] 
  </div>
</div>

<div id="data_err" class="dataerr cfg-table">
  [[text]]
  <button @click="warn()">
    Delete this file
  </button>
</div>

<script src="{{url_for('static', filename='js/map.js')}}"></script>
<script>
  handle_track_data(`{{tracking}}`, "{{unit}}");
</script>
{% endblock %}
