{% extends "base.html" %}

{% block body %}
<a href="/cfg">Go back</a> <br><br>

"Africa/Abidjan"<br>
"Africa/Accra"<br>
"Africa/Addis_Ababa"<br>
"Africa/Algiers"<br>
"Africa/Asmara"<br>
"Africa/Bamako"<br>
"Africa/Bangui"<br>
"Africa/Banjul"<br>
"Africa/Bissau"<br>
"Africa/Blantyre"<br>
"Africa/Brazzaville"<br>
"Africa/Bujumbura"<br>
"Africa/Cairo"<br>
"Africa/Casablanca"<br>
"Africa/Ceuta"<br>
"Africa/Conakry"<br>
"Africa/Dakar"<br>
"Africa/Dar_es_Salaam"<br>
"Africa/Djibouti"<br>
"Africa/Douala"<br>
"Africa/El_Aaiun"<br>
"Africa/Freetown"<br>
"Africa/Gaborone"<br>
"Africa/Harare"<br>
"Africa/Johannesburg"<br>
"Africa/Juba"<br>
"Africa/Kampala"<br>
"Africa/Khartoum"<br>
"Africa/Kigali"<br>
"Africa/Kinshasa"<br>
"Africa/Lagos"<br>
"Africa/Libreville"<br>
"Africa/Lome"<br>
"Africa/Luanda"<br>
"Africa/Lubumbashi"<br>
"Africa/Lusaka"<br>
"Africa/Malabo"<br>
"Africa/Maputo"<br>
"Africa/Maseru"<br>
"Africa/Mbabane"<br>
"Africa/Mogadishu"<br>
"Africa/Monrovia"<br>
"Africa/Nairobi"<br>
"Africa/Ndjamena"<br>
"Africa/Niamey"<br>
"Africa/Nouakchott"<br>
"Africa/Ouagadougou"<br>
"Africa/Porto-Novo"<br>
"Africa/Sao_Tome"<br>
"Africa/Tripoli"<br>
"Africa/Tunis"<br>
"Africa/Windhoek"<br>
"America/Adak"<br>
"America/Anchorage"<br>
"America/Anguilla"<br>
"America/Antigua"<br>
"America/Araguaina"<br>
"America/Argentina/Buenos_Aires"<br>
"America/Argentina/Catamarca"<br>
"America/Argentina/Cordoba"<br>
"America/Argentina/Jujuy"<br>
"America/Argentina/La_Rioja"<br>
"America/Argentina/Mendoza"<br>
"America/Argentina/Rio_Gallegos"<br>
"America/Argentina/Salta"<br>
"America/Argentina/San_Juan"<br>
"America/Argentina/San_Luis"<br>
"America/Argentina/Tucuman"<br>
"America/Argentina/Ushuaia"<br>
"America/Aruba"<br>
"America/Asuncion"<br>
"America/Atikokan"<br>
"America/Bahia"<br>
"America/Bahia_Banderas"<br>
"America/Barbados"<br>
"America/Belem"<br>
"America/Belize"<br>
"America/Blanc-Sablon"<br>
"America/Boa_Vista"<br>
"America/Bogota"<br>
"America/Boise"<br>
"America/Cambridge_Bay"<br>
"America/Campo_Grande"<br>
"America/Cancun"<br>
"America/Caracas"<br>
"America/Cayenne"<br>
"America/Cayman"<br>
"America/Chicago"<br>
"America/Chihuahua"<br>
"America/Costa_Rica"<br>
"America/Creston"<br>
"America/Cuiaba"<br>
"America/Curacao"<br>
"America/Danmarkshavn"<br>
"America/Dawson"<br>
"America/Dawson_Creek"<br>
"America/Denver"<br>
"America/Detroit"<br>
"America/Dominica"<br>
"America/Edmonton"<br>
"America/Eirunepe"<br>
"America/El_Salvador"<br>
"America/Fort_Nelson"<br>
"America/Fortaleza"<br>
"America/Glace_Bay"<br>
"America/Godthab"<br>
"America/Goose_Bay"<br>
"America/Grand_Turk"<br>
"America/Grenada"<br>
"America/Guadeloupe"<br>
"America/Guatemala"<br>
"America/Guayaquil"<br>
"America/Guyana"<br>
"America/Halifax"<br>
"America/Havana"<br>
"America/Hermosillo"<br>
"America/Indiana/Indianapolis"<br>
"America/Indiana/Knox"<br>
"America/Indiana/Marengo"<br>
"America/Indiana/Petersburg"<br>
"America/Indiana/Tell_City"<br>
"America/Indiana/Vevay"<br>
"America/Indiana/Vincennes"<br>
"America/Indiana/Winamac"<br>
"America/Inuvik"<br>
"America/Iqaluit"<br>
"America/Jamaica"<br>
"America/Juneau"<br>
"America/Kentucky/Louisville"<br>
"America/Kentucky/Monticello"<br>
"America/Kralendijk"<br>
"America/La_Paz"<br>
"America/Lima"<br>
"America/Los_Angeles"<br>
"America/Lower_Princes"<br>
"America/Maceio"<br>
"America/Managua"<br>
"America/Manaus"<br>
"America/Marigot"<br>
"America/Martinique"<br>
"America/Matamoros"<br>
"America/Mazatlan"<br>
"America/Menominee"<br>
"America/Merida"<br>
"America/Metlakatla"<br>
"America/Mexico_City"<br>
"America/Miquelon"<br>
"America/Moncton"<br>
"America/Monterrey"<br>
"America/Montevideo"<br>
"America/Montserrat"<br>
"America/Nassau"<br>
"America/New_York"<br>
"America/Nipigon"<br>
"America/Nome"<br>
"America/Noronha"<br>
"America/North_Dakota/Beulah"<br>
"America/North_Dakota/Center"<br>
"America/North_Dakota/New_Salem"<br>
"America/Ojinaga"<br>
"America/Panama"<br>
"America/Pangnirtung"<br>
"America/Paramaribo"<br>
"America/Phoenix"<br>
"America/Port-au-Prince"<br>
"America/Port_of_Spain"<br>
"America/Porto_Velho"<br>
"America/Puerto_Rico"<br>
"America/Punta_Arenas"<br>
"America/Rainy_River"<br>
"America/Rankin_Inlet"<br>
"America/Recife"<br>
"America/Regina"<br>
"America/Resolute"<br>
"America/Rio_Branco"<br>
"America/Santarem"<br>
"America/Santiago"<br>
"America/Santo_Domingo"<br>
"America/Sao_Paulo"<br>
"America/Scoresbysund"<br>
"America/Sitka"<br>
"America/St_Barthelemy"<br>
"America/St_Johns"<br>
"America/St_Kitts"<br>
"America/St_Lucia"<br>
"America/St_Thomas"<br>
"America/St_Vincent"<br>
"America/Swift_Current"<br>
"America/Tegucigalpa"<br>
"America/Thule"<br>
"America/Thunder_Bay"<br>
"America/Tijuana"<br>
"America/Toronto"<br>
"America/Tortola"<br>
"America/Vancouver"<br>
"America/Whitehorse"<br>
"America/Winnipeg"<br>
"America/Yakutat"<br>
"America/Yellowknife"<br>
"Antarctica/Casey"<br>
"Antarctica/Davis"<br>
"Antarctica/DumontDUrville"<br>
"Antarctica/Macquarie"<br>
"Antarctica/Mawson"<br>
"Antarctica/McMurdo"<br>
"Antarctica/Palmer"<br>
"Antarctica/Rothera"<br>
"Antarctica/Syowa"<br>
"Antarctica/Troll"<br>
"Antarctica/Vostok"<br>
"Arctic/Longyearbyen"<br>
"Asia/Aden"<br>
"Asia/Almaty"<br>
"Asia/Amman"<br>
"Asia/Anadyr"<br>
"Asia/Aqtau"<br>
"Asia/Aqtobe"<br>
"Asia/Ashgabat"<br>
"Asia/Atyrau"<br>
"Asia/Baghdad"<br>
"Asia/Bahrain"<br>
"Asia/Baku"<br>
"Asia/Bangkok"<br>
"Asia/Barnaul"<br>
"Asia/Beirut"<br>
"Asia/Bishkek"<br>
"Asia/Brunei"<br>
"Asia/Chita"<br>
"Asia/Choibalsan"<br>
"Asia/Colombo"<br>
"Asia/Damascus"<br>
"Asia/Dhaka"<br>
"Asia/Dili"<br>
"Asia/Dubai"<br>
"Asia/Dushanbe"<br>
"Asia/Famagusta"<br>
"Asia/Gaza"<br>
"Asia/Hebron"<br>
"Asia/Ho_Chi_Minh"<br>
"Asia/Hong_Kong"<br>
"Asia/Hovd"<br>
"Asia/Irkutsk"<br>
"Asia/Jakarta"<br>
"Asia/Jayapura"<br>
"Asia/Jerusalem"<br>
"Asia/Kabul"<br>
"Asia/Kamchatka"<br>
"Asia/Karachi"<br>
"Asia/Kathmandu"<br>
"Asia/Khandyga"<br>
"Asia/Kolkata"<br>
"Asia/Krasnoyarsk"<br>
"Asia/Kuala_Lumpur"<br>
"Asia/Kuching"<br>
"Asia/Kuwait"<br>
"Asia/Macau"<br>
"Asia/Magadan"<br>
"Asia/Makassar"<br>
"Asia/Manila"<br>
"Asia/Muscat"<br>
"Asia/Nicosia"<br>
"Asia/Novokuznetsk"<br>
"Asia/Novosibirsk"<br>
"Asia/Omsk"<br>
"Asia/Oral"<br>
"Asia/Phnom_Penh"<br>
"Asia/Pontianak"<br>
"Asia/Pyongyang"<br>
"Asia/Qatar"<br>
"Asia/Qyzylorda"<br>
"Asia/Riyadh"<br>
"Asia/Sakhalin"<br>
"Asia/Samarkand"<br>
"Asia/Seoul"<br>
"Asia/Shanghai"<br>
"Asia/Singapore"<br>
"Asia/Srednekolymsk"<br>
"Asia/Taipei"<br>
"Asia/Tashkent"<br>
"Asia/Tbilisi"<br>
"Asia/Tehran"<br>
"Asia/Thimphu"<br>
"Asia/Tokyo"<br>
"Asia/Tomsk"<br>
"Asia/Ulaanbaatar"<br>
"Asia/Urumqi"<br>
"Asia/Ust-Nera"<br>
"Asia/Vientiane"<br>
"Asia/Vladivostok"<br>
"Asia/Yakutsk"<br>
"Asia/Yangon"<br>
"Asia/Yekaterinburg"<br>
"Asia/Yerevan"<br>
"Atlantic/Azores"<br>
"Atlantic/Bermuda"<br>
"Atlantic/Canary"<br>
"Atlantic/Cape_Verde"<br>
"Atlantic/Faroe"<br>
"Atlantic/Madeira"<br>
"Atlantic/Reykjavik"<br>
"Atlantic/South_Georgia"<br>
"Atlantic/St_Helena"<br>
"Atlantic/Stanley"<br>
"Australia/Adelaide"<br>
"Australia/Brisbane"<br>
"Australia/Broken_Hill"<br>
"Australia/Currie"<br>
"Australia/Darwin"<br>
"Australia/Eucla"<br>
"Australia/Hobart"<br>
"Australia/Lindeman"<br>
"Australia/Lord_Howe"<br>
"Australia/Melbourne"<br>
"Australia/Perth"<br>
"Australia/Sydney"<br>
"Canada/Atlantic"<br>
"Canada/Central"<br>
"Canada/Eastern"<br>
"Canada/Mountain"<br>
"Canada/Newfoundland"<br>
"Canada/Pacific"<br>
"Europe/Amsterdam"<br>
"Europe/Andorra"<br>
"Europe/Astrakhan"<br>
"Europe/Athens"<br>
"Europe/Belgrade"<br>
"Europe/Berlin"<br>
"Europe/Bratislava"<br>
"Europe/Brussels"<br>
"Europe/Bucharest"<br>
"Europe/Budapest"<br>
"Europe/Busingen"<br>
"Europe/Chisinau"<br>
"Europe/Copenhagen"<br>
"Europe/Dublin"<br>
"Europe/Gibraltar"<br>
"Europe/Guernsey"<br>
"Europe/Helsinki"<br>
"Europe/Isle_of_Man"<br>
"Europe/Istanbul"<br>
"Europe/Jersey"<br>
"Europe/Kaliningrad"<br>
"Europe/Kiev"<br>
"Europe/Kirov"<br>
"Europe/Lisbon"<br>
"Europe/Ljubljana"<br>
"Europe/London"<br>
"Europe/Luxembourg"<br>
"Europe/Madrid"<br>
"Europe/Malta"<br>
"Europe/Mariehamn"<br>
"Europe/Minsk"<br>
"Europe/Monaco"<br>
"Europe/Moscow"<br>
"Europe/Oslo"<br>
"Europe/Paris"<br>
"Europe/Podgorica"<br>
"Europe/Prague"<br>
"Europe/Riga"<br>
"Europe/Rome"<br>
"Europe/Samara"<br>
"Europe/San_Marino"<br>
"Europe/Sarajevo"<br>
"Europe/Saratov"<br>
"Europe/Simferopol"<br>
"Europe/Skopje"<br>
"Europe/Sofia"<br>
"Europe/Stockholm"<br>
"Europe/Tallinn"<br>
"Europe/Tirane"<br>
"Europe/Ulyanovsk"<br>
"Europe/Uzhgorod"<br>
"Europe/Vaduz"<br>
"Europe/Vatican"<br>
"Europe/Vienna"<br>
"Europe/Vilnius"<br>
"Europe/Volgograd"<br>
"Europe/Warsaw"<br>
"Europe/Zagreb"<br>
"Europe/Zaporozhye"<br>
"Europe/Zurich"<br>
"GMT"<br>
"Indian/Antananarivo"<br>
"Indian/Chagos"<br>
"Indian/Christmas"<br>
"Indian/Cocos"<br>
"Indian/Comoro"<br>
"Indian/Kerguelen"<br>
"Indian/Mahe"<br>
"Indian/Maldives"<br>
"Indian/Mauritius"<br>
"Indian/Mayotte"<br>
"Indian/Reunion"<br>
"Pacific/Apia"<br>
"Pacific/Auckland"<br>
"Pacific/Bougainville"<br>
"Pacific/Chatham"<br>
"Pacific/Chuuk"<br>
"Pacific/Easter"<br>
"Pacific/Efate"<br>
"Pacific/Enderbury"<br>
"Pacific/Fakaofo"<br>
"Pacific/Fiji"<br>
"Pacific/Funafuti"<br>
"Pacific/Galapagos"<br>
"Pacific/Gambier"<br>
"Pacific/Guadalcanal"<br>
"Pacific/Guam"<br>
"Pacific/Honolulu"<br>
"Pacific/Kiritimati"<br>
"Pacific/Kosrae"<br>
"Pacific/Kwajalein"<br>
"Pacific/Majuro"<br>
"Pacific/Marquesas"<br>
"Pacific/Midway"<br>
"Pacific/Nauru"<br>
"Pacific/Niue"<br>
"Pacific/Norfolk"<br>
"Pacific/Noumea"<br>
"Pacific/Pago_Pago"<br>
"Pacific/Palau"<br>
"Pacific/Pitcairn"<br>
"Pacific/Pohnpei"<br>
"Pacific/Port_Moresby"<br>
"Pacific/Rarotonga"<br>
"Pacific/Saipan"<br>
"Pacific/Tahiti"<br>
"Pacific/Tarawa"<br>
"Pacific/Tongatapu"<br>
"Pacific/Wake"<br>
"Pacific/Wallis"<br>
"US/Alaska"<br>
"US/Arizona"<br>
"US/Central"<br>
"US/Eastern"<br>
"US/Hawaii"<br>
"US/Mountain"<br>
"US/Pacific"<br>
"UTC"<br>

{% endblock %}